/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  font-size: 24px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  text-shadow: 5px 5px 5px #000000;
  width: 45%;
  padding: 10px;
}

.notification-wrapper {
  margin: 20px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow: hidden;
}

.notification-container {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.big-scroll-container{
  margin-top: 2vh;
  width: 100%;
  height: 90%;
  min-height: 50hv;
  max-height: 95hv;
  overflow-y: auto; /* Dodaje przewijanie w pionie */
  text-align: center;
  padding: 10px; /* Odstępy wewnątrz kontenera */
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  
  
}

.scrolling-text {
  display: inline-block;
  padding-left: 16px;
  font-size: 18px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  /* Kolor tła kontenera */
}

.background-image {
  background-image: url('./app/assets/Background.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container-with-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Stylowanie kontenerów przycisków obok siebie */
.button-container-inline {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  margin: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: 1px solid;
  border-color: #000;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  flex: 1;
  /* Aby wszystkie przyciski miały równe szerokości */
  max-width: 200px;
  /* Maksymalna szerokość przycisków */
  min-width: 75px;
  max-height: 50px;
}

.button:hover {
  background-color: #024388;
}

/* Aktywny przycisk */
.button.active {
  background-color: #007bff;
  opacity: 1;
}

/* Wygaszony przycisk */
.button.inactive {
  background-color: #cccccc;
  opacity: 0.6;
}

.red-button {
  background-color: #ff0000;
  margin: 10px;
  padding: 10px;
  color: white;
  border: 1px solid;
  border-color: #000;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  flex: 1;
  max-width: 200px;
  min-width: 75px;
}

.red-button:hover {
  background-color: #940606;
}

/* Wygaszony przycisk */
.red-button.inactive {
  background-color: #cccccc;
  opacity: 0.6;
}

/* Aktywny przycisk */
.red-button.active {
  background-color: #ff0000;
  opacity: 1;
}

.green-button {
  background-color: #00ff00cc;
  margin: 10px;
  padding: 10px;
  color: white;
  border: 1px solid;
  border-color: #000;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  flex: 1;
  max-width: 200px;
  min-width: 75px;
}

.green-button:hover {
  background-color: #028a02cc;
}

/* Wygaszony przycisk */
.green-button.inactive {
  background-color: #cccccc;
  opacity: 0.6;
}

/* Aktywny przycisk */
.green-button.active {
  background-color: #00ff00cc;
  opacity: 1;
}



.employee-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  padding: 10px;
  overflow-y: auto;
}

.employee-card {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  width: 50%;
  box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.device-container {
  background-color: #ffffff66;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10%;
  margin-left: 15%;
  margin-right: 15%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  max-width: 50%;
  max-height: 50%;
}

.header-device {
  text-shadow: 2px 2px 2px #000;
  font-size: 24px;
  color: #940606;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.text-device {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px 0 #000;
}

.device-scroll-container {
  width: 45%;
  max-height: 300px; /* Ustaw maksymalną wysokość dla przewijania */
  overflow-y: auto; /* Dodaje przewijanie w pionie */
  text-align: center;
  padding: 10px; /* Odstępy wewnątrz kontenera */
  border-radius: 10px;
  
}
.device-scroll-container-big {
  width: 70%;
  max-height: 100vh; /* Ustaw maksymalną wysokość dla przewijania */
  overflow-y: auto; /* Dodaje przewijanie w pionie */
  text-align: center;
  padding: 10px; /* Odstępy wewnątrz kontenera */
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Zmienia wyrównanie treści do góry */
  
}

.device-information-container{

  background-color: #1e6899e3;
  box-shadow: 1px 1px 1px 4px #0c0c2bd2;
  width: 50%;
  height: 400px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;

}
.text-client {
  color: #ffffff;
  text-shadow: 2px 2px 2px  #000;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-client {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-variant: small-caps;
}
.clinet-information-container{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #00000000;
  width: 50%;
  text-align: center;
  background-color: #00000027;
  box-shadow: 4px 4px 4px 8px #383838;
  border-radius: 10px;
}
.client-info{
  color: #fffdfd;
  text-shadow: 1px 1px 1px #000;

}
.client-container{
  background-color: #22aa99f0;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 20hv;
  max-height: 50hv;
  min-width: 30hv;
  max-width: 60hv;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow:1px 1px 1px 4px #024388;
}
.scroll-container {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 40%;
  height: 25%;
  background-color: #00000027;
  border-radius: 25px;
  border: solid 1px #000;
  min-height: 330px;
  min-width: 400px;
}

.task-container {
  background-color: #00000099;
  box-shadow: 4px 4px 4px #000;
  border-radius: 25px;
}



.image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  /* Utrzymuje proporcje obrazu */
  margin-right: 10px;
  border-radius: 8px;
}

.image-container {
  width: 50%;
  height: 50%;
  max-width: 400px;
}

.image-upload {
  width: 300px;
  height: 300px;
  border-radius: 4%;
  border: 4px solid #00000077;
}

.horizontal-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 45%;
  white-space: nowrap;
  /* Zapobiega łamaniu wierszy */
  padding: 10px;
}

.horizontal-scroll img {
  width: 400px;
  height:300px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 12px;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #515152;
  border-radius: 10px;
}

