<div class="container">
    <div class="background-image">
        <div class="button-container">
            <button class="button" (click)="navigateTo('Task')">Add New Task</button>
            <button class="button" (click)="navigateTo('Employee')">Employee Management</button>
            <button class="button" (click)="navigateTo('Client')">Client Management</button>
            <button class="button" (click)="navigateTo('Notification')">Task Management</button>
            <button class="button" (click)="goBack()">Back</button>
        </div>
    </div>
</div>
