<div class="container">
    <div class="background-image">
        <div class="button-container">
            <button class="button" (click)="navigateTo('Addnewtaskscreen')">Add New Task</button>
            <button class="button" (click)="navigateTo('Allemployeescreen')">Employee Management</button>
            <button class="button" (click)="navigateTo('Allclientscreen')">Client Management</button>
            <button class="button" (click)="navigateTo('Notificationscreen')">Task Management</button>
            <button class="button" (click)="goBack()">Back</button>
        </div>
    </div>
</div>
