<div class="container">
    <div class="background-image">
        <form [formGroup]="clientForm" (ngSubmit)="handleSave()">
            <div class="text-input-container">
                <input formControlName="name" placeholder="Name" class="input" />
                <input formControlName="surname" placeholder="Surname" class="input" />
                <input formControlName="email" type="email" placeholder="Email" class="input" />
                <input formControlName="phone" type="tel" placeholder="Phone Number" class="input" />
            </div>
            <div class="button-container-with-text">
                <button type="submit" class="green-button">Save</button>
                <button type="button" class="red-button" (click)="handleDelete()">Delete Client</button>
                <button type="button" class="button" (click)="goBack()">Back</button>
            </div>
        </form>
    </div>
</div>
