<div class="background-image">
    <div class="header-firstscreen">
      <h1>Witaj w internetowym systemie napraw serwisu ...</h1>
      <div class="header-button-container">
        <button (click)="navigateToLogin()" class="button-animated">Login To System</button>
        <button (click)="navigateToSearchForClient()" class="button-animated">Klient Report Search</button>
      </div>
    </div>
  
    <div class="content-container">
      <div class="text-container">
        <h2>Lorem Ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula felis vel nulla 
          gravida, sed cursus lorem condimentum. Integer ac dolor et elit dictum tristique. Fusce 
          elementum enim a augue vehicula, non luctus ligula vehicula.
        </p>
      </div>
  
      <div class="gallery-container">
        <h2>Galeria zdjęć</h2>
        <div class="gallery">
          <img src="../../assets/photo1.jpg" alt="Zdjęcie 1" />
          <img src="../../assets/photo2.jpg" alt="Zdjęcie 2" />
          <img src="../../assets/photo3.jpg" alt="Zdjęcie 3" />
        </div>
      </div>
    </div>
  </div>
  