<div class="container">
    <form [formGroup]="endingRaportForm" (ngSubmit)="createEndingRaport()">
      <mat-form-field appearance="fill">
        <mat-label>Select Device</mat-label>
        <mat-select formControlName="selectedDevice">
          <mat-option *ngFor="let device of devices" [value]="device.id">
            Device Number: {{ device.codeNumber }} | Device description: {{ device.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <button class="button" type="submit">Create Raport</button>
      <button class="button" (click)="updateDevice()">Update Device Raport</button>
      <button class="button" (click)="addNewPhotos()">Add New Photos for Device</button>

    </form>
  </div>
  