<div class="container">
    <div class="background-image">
      <h1 class="header">Welcome<br>{{ userEmail }}!</h1>
  
      <div *ngIf="notifications.length > 0" class="notification-wrapper" (click)="handleNotificationPress()">
        <div class="notification-container">
          <div class="scrolling-text" [@scroll]="{ value: scrollState, params: { duration: (contentWidth - containerWidth) * 50 } }">
            <span *ngFor="let notification of notifications">
              🔔 {{ notification.deviceCodeNumber }}: {{ notification.taskDescription }}
            </span>
          </div>
        </div>
      </div>
  
      <div class="button-container">
        <button (click)="navigateTo('add-new-client')">Add New Client</button>
        <button (click)="navigateTo('add-report')">Add New Report</button>
        <button (click)="navigateTo('work-progress')">Work Progress</button>
        <button *ngIf="isAdmin" (click)="navigateTo('management')">Management</button>
        <button class="red-button" (click)="navigateTo('login')">Logout</button>
      </div>
    </div>
  </div>
  